<nav>
  <a href="/"><h1 class="username"><%=title%></h1></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
    <li><a href="/about">About Us</a></li>
  </ul>
</nav>
