<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap.ejs')%> <%-
  include("./partials/header.ejs")%>
  <body>
    <%- include("./partials/nav.ejs")%>
    <div class="content-not-found">
      <h2>Page Not Found</h2>
    </div>
    <%- include("./partials/footer.ejs")%>
  </body>
</html>
