<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/bootstrap.ejs')%> <%-include('./partials/header.ejs')%>
  <body class="about-body">
    <%-include('./partials/nav.ejs')%>
    <div class="about">
      <p>
        This chat app is made by Dhruvil Patel and Ayush Kaura under the
        guidance of Sir Aaryadev Chandra. It is made using Node.js, Express.js,
        Socket.io, MongoDB, and EJS. It privides user creation, authentication
        and access and a basic i message broadcast functionality for now. We
        further intend to make this a full fledged chat app with multiple chats
        and groups for each user.
      </p>
    </div>
    <div class="contact-us">
      <div>
        <ul>
          <li>
            <address>
              <a href="mailto: dhruvil@gmail.com">Email 1: dhruvil@gmail.com</a>
            </address>
          </li>
          <li>
            <address>
              <a href="mailto: ayush@gmail.com">Email 2: ayush@gmail.com</a>
            </address>
          </li>
          <li><h3>contact: +919999999999</h3></li>
          <li><h3>contact: +918888888888</h3></li>
        </ul>
      </div>
    </div>
  </body>
  <%-include('./partials/footer.ejs')%>
</html>
